html {
	height: 100%;
	font-size: 62.5%;
}

body {
	background-color: #ffffff;
	color: #444444;
	height: 100%;
	background-repeat: repeat;
	background-size: 60px;
	font-family: Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 60px;
}

.visuallyhidden {
	position: absolute;
	width: 1px; /* 0にしてしまうとダメ */
	height: 1px; /* 0にしてしまうとダメ */
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.mainVisual__img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100vh;
	padding: 80px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: rotateZ(1deg);
	transform: rotateZ(1deg);
}

.randomButton {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateY(0%) translateX(-50%) rotate(20deg);
	transform: translateY(0%) translateX(-50%) rotate(20deg);
	margin-bottom: 18px;
	font-size: 1.6rem;
	margin-left: -40%;
	color: #444444;
}

.logoAnimation {
	position: fixed;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	z-index: 999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
}

.logoAnimation .title {
	font-size: 3rem;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1.2;
}

.bars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 280px;
}

.bars .bar {
	width: 10px;
	height: auto;
	margin: 0 12.5px;
}

.bars .js-bar {
	-webkit-transition: 1.5s;
	transition: 1.5s;
}

.bars .bar1 {
	opacity: 0;
	margin-top: -50px;
}

.bars .bar2 {
	opacity: 0;
	margin-top: -50px;
}

.bars .bar3 {
	opacity: 0;
	margin-top: -50px;
}

.bars .bar4 {
	opacity: 0;
	margin-top: -50px;
}

.bars .bar5 {
	opacity: 0;
	margin-top: -50px;
}

.bars .bar6 {
	opacity: 0;
	margin-top: -50px;
}

.about {
	margin-top: 72px;
}

.about__logo {
	width: 200px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 130px;
}

.about .title {
	margin-top: 100px;
	font-size: 2.8rem;
	text-align: center;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: 1.2;
}

.about__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 610px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-top: 70px;
}

.about__img {
	width: 34%;
	height: auto;
}

.about__textBox {
	width: 52%;
	height: auto;
}

.about__text {
	width: 100%;
	margin-top: 25px;
	font-size: 1.8em;
	line-height: 1.8;
}

.about__text--negativeM {
	margin-left: -12%;
}

.about__text:first-child {
	margin-top: -5px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 72px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 36px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	z-index: 99;
	-webkit-transform: rotate(-10deg) translateY(200%) translateX(-4%);
	transform: rotate(-10deg) translateY(200%) translateX(-4%);
}

.header__logoBox {
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}

.header__logo {
	height: 28px;
}

.header__link {
	display: block;
	font-size: 1.8rem;
	text-decoration: none;
	color: #444444;
	margin-bottom: 5px;
}

.main {
	width: 100%;
}

.footer {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: -5px;
	padding-right: 16px;
	width: 54px;
	margin-top: 20%;
}

.footer .copy {
	font-size: 1.2rem;
	padding-left: 4px;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	color: #999;
}

@media screen and (max-width: 480px) {

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.mainVisual__img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100vh;
	padding: 70px 34px 80px 34px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.about {
	margin-top: 60px;
}

.about__logo {
	width: 120px;
	padding-top: 50px;
}

.about .title {
	margin-top: 50px;
	font-size: 1.8rem;
}

.about__content {
	margin-top: 30px;
}

.about__img {
	width: 35%;
	height: auto;
}

.about__textBox {
	width: 52%;
	height: auto;
}

.about__text {
	margin-top: 15px;
	font-size: 1.2rem;
	line-height: 1.8;
}

.about__text:first-child {
	margin-top: -5px;
}

.logoAnimation .title {
	font-size: 2.6rem;
}

.bars {
	height: 200px;
}

.bars .bar {
	width: 7px;
	height: auto;
	margin: 0 9px;
}

.header {
	height: 60px;
	padding: 0 24px;
}

.header__logo {
	height: 20px;
}

.header__link {
	font-size: 1.6rem;
}

.footer {
	padding-top: -5px;
	padding-right: 5px;
	width: 24px;
}

.footer .copy {
	font-size: 1rem;
}

}

