.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $wh;
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  box-sizing: border-box;
  width: 100%;
  box-shadow:0px 2px 4px 1px rgba(0,0,0, 0.05);
  z-index: 99;
  &__logo {
    height: 28px;
  }
  &__link {
    font-size: 1.8rem;
    text-decoration: none;
    color: $bl;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 60px;
    padding: 0 24px;
    &__logo {
      height: 20px;
    }
    &__link {
      font-size: 1.6rem;

    }
  }
}
