doctype html
html
    head
      meta charset="utf-8"
      link  rel="stylesheet" type="text/css" href="./css/html5reset-1.6.1.css"
      link  rel="stylesheet" type="text/css" href="./css/style.css"
      meta name="viewport" content="width=device-width,initial-scale=1"
      title soloe| about

    body
      .logoAnimation
        .bars
          img.bar.bar1.js-bar src="./img/logo_bar.svg"
          img.bar.bar2.js-bar src="./img/logo_bar.svg"
          img.bar.bar3.js-bar src="./img/logo_bar.svg"
          img.bar.bar4.js-bar src="./img/logo_bar.svg"
          img.bar.bar5.js-bar src="./img/logo_bar.svg"
          img.bar.bar6.js-bar src="./img/logo_bar.svg"

      header.header
        a.header__logoBox href="index.html"
          img.header__logo src="./img/logo_set.svg"

        nav.header__nav
          a.header__link href="about.html"
            | about

      main.main.about.wrapper
        img.about__logo src="./img/logo_type.svg"

        h1.title
          | ちょっとズレてると揃えたくなる。

        .wrapper.about__content
          img.about__img src="./img/logo.svg"
          .about__textBox
            p.about__text
              | ちょっとズレて置いてある物、ちょっとズレて開いているドア、一巻だけない本棚、中途半端に閉まってる蛇口、そういったちょっと惜しいものがあると直したくなりませんか？僕はなってしまいます。
            p.about__text
              | 「あそこさえが揃っていれば」「中途半端に開いてて気になる」「逆にここまでやったのになんで最後までやらないの？」そう思うことは日常茶飯事で、一度気になってしまうと直すまでムズムズします。
            p.about__text.about__text--negativeM
              | 絶対揃っていたほうが気持ちいいし、かっこいいし、綺麗。あと揃えるのって楽しくないですか？完璧に揃えたあとの達成感・満足感。そういった感情をもっともっと色んな人に知ってもらいたい。
            p.about__text
              | だから、そういった中途半端なもの、惜しいものを写真に収めて、ギャラリーとして見せようと思いました。これを見て一人でも多くの人が「うわぁ、揃えたい」と感じてもらい、揃えて欲しい。








      footer.footer
        p.copy
          small Copyright (c) 2017 soloe All Rights Reserved.　



      script src="./js/jquery-3.0.0.min.js"
      script src="./js/style.js"
