doctype html
html
    head
      meta charset="utf-8"
      link  rel="stylesheet" type="text/css" href="./css/html5reset-1.6.1.css"
      link  rel="stylesheet" type="text/css" href="./css/style.css"
      meta name="viewport" content="width=device-width,initial-scale=1"
      title soloe| top

    body
      .logoAnimation
        .bars
          img.bar.bar1.js-bar src="./img/logo_bar.svg"
          img.bar.bar2.js-bar src="./img/logo_bar.svg"
          img.bar.bar3.js-bar src="./img/logo_bar.svg"
          img.bar.bar4.js-bar src="./img/logo_bar.svg"
          img.bar.bar5.js-bar src="./img/logo_bar.svg"
          img.bar.bar6.js-bar src="./img/logo_bar.svg"

      header.header
        a.header__logoBox href="index.html"
          img.header__logo src="./img/logo_set.svg"

        nav.header__nav
          a.header__link href="about.html"
            | about

      main.main
        h1.visuallyhidden
          |soloe
        .mainVisual
          img.mainVisual__img src="./img/img.jpg"

        section.container.wrapper
          .container__item
            img.container__item__img src="./img/img1.jpg"
          .container__item
            img.container__item__img src="./img/img2.jpg"
          .container__item.container__item--h1
            img.container__item__img src="./img/img3.jpg"
          .container__item.container__item--rotate
            img.container__item__img src="./img/img4.jpg"
          .container__item
            img.container__item__img src="./img/img5.jpg"
          .container__item.container__item--h2
            img.container__item__img src="./img/img6.jpg"
          .container__item
            img.container__item__img src="./img/img7.jpg"
          .container__item
            img.container__item__img src="./img/img8.jpg"
          .container__item
            img.container__item__img src="./img/img9.jpg"
          .container__item
            img.container__item__img src="./img/img10.jpg"
          .container__item
            img.container__item__img src="./img/img11.jpg"
          .container__item.container__item--negativeM
            img.container__item__img src="./img/img12.jpg"
          .container__item.container__item--negativeM
            img.container__item__img src="./img/img13.jpg"





      footer.footer
        p.copy
          small Copyright (c) 2017 soloe All Rights Reserved.　



      script src="./js/jquery-3.0.0.min.js"
      script src="./js/style.js"
